* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #edeef0;
  font-family: roboto, Helvetica, sans-serif;
  font-size: 13px;
}

i {
  cursor: pointer;
}

.container-header {
  background: #4a76a8;
}

.header {
  display: flex;
  padding: 13px 0;
  max-width: 1200px;
  margin: 0 auto;
}
img {
  cursor: pointer;
}

.search {
  display: flex;
  border-radius: 20px;
  background: #1e3c5f;
  padding: 9px;
  height: 37px;
}

.logo {
  width: 52px;
  height: 40px;
  cursor: pointer;
}

.ava {
  width: 40px;
  border-radius: 50px;
  height: 40px;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 120px;
  width: 407px;
  justify-content: space-evenly;
}

.search img {
  margin-right: 14px;
  cursor: pointer;
}

.sr_txt {
  display: block;
  background: #1e3c5f;
  color: white;
  outline: none;
}

.col {
  width: 30px;
}

.prof {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.prof p {
  color: white;
  margin-right: 10px;
}

.spisok {
  margin-left: 10px;
  color: white;
}

.container {
  margin: 0 auto;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  width: 1200px;
  justify-content: space-evenly;
}

.container-nav {
  width: 17%;
}

.navig {
  width: max-content;
}

.items li {
  list-style: none;
}

.items li:hover {
  background-color: #99b1c688;
  border-radius: 3px;
}

.items i {
  color: #99b1c6;
}

a {
  text-decoration: none;
  color: #2e5473;
}

.size {
  width: 29px;
  width: 15px;
  padding: 7px 25px 10px 0px;
  overflow: visible;
}

.line {
  border-bottom: 1px solid #bccfdf;
  width: 150px;
  margin-left: 15px;
}

.guests {
  display: flex;
  align-items: center;
  width: 180px;
}

.guests p {
  margin-left: auto;
  background: #bccfdf;
  padding: 3px;
  color: #2e5473;
}

.add {
  margin-top: 35px;
}

.add img {
  width: 180px;
}

.container-chat {
  width: 60%;
  background-color: #fff;
  border-radius: 5px;
}

.position {
  margin: 0 8px;
  font-size: 15px;
  color: #ccc;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e4e6e9;
  padding: 5px;
  align-items: center;
}

.number {
  color: #bccfdf;
  text-align: center;
}

.back {
  display: flex;
  align-items: center;
  color: #ccc;
}

.back i {
  font-size: 15px;
}

.back p {
  margin: 5px;
}

.parametrs {
  display: flex;
  align-items: center;
}

.footer-chat {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 2px solid #e4e6e9;
  align-items: center;
  background-color: #fafbfc;
}

textarea {
  width: 500px;
  height: 50px;
  resize: none;
  padding: 10px;
  font-size: 14px;
  background-color: #f9f9f9;
  outline: none;
}

.func-footer-chat {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.icon-footer {
  font-size: 20px;
  color: #ccc;
}

.size-footer {
  font-size: 20px;
  color: #ccc;
  padding: 0px 10px;
}

.chat-body {
  height: 530px;
  padding-left: 100px;
}

.mass {
  margin-left: 50px;
  border-left: 2px solid #99b1c6;
  padding: 10px;
}

.he img,
h1 {
  display: inline-block;
  vertical-align: middle;
}

.he h1 {
  padding-left: 5px;
  color: #5a75a1;
  font-weight: bold;
}

.he p {
  padding-top: 10px;
}

.he img {
  width: 40px;
  border-radius: 50px;
  height: 40px;
}
.chat-body {
  overflow: auto;
}

.container-member {
  width: 21%;
  background-color: white;
  margin-left: 20px;
  height: 175px;
  border-radius: 3px;
}

.main-member p {
  padding: 10px 10px;
  color: #2e5473;
  cursor: pointer;
}

.main-member p:last-child {
  color: black;
}

.main-member p:hover {
  background-color: #f0f2f5d6;
}

.line-member {
  width: 200px;
  margin-left: 25px;
  margin-top: 10px;
}

.items-mes {
  font-weight: bold;
  background-color: #f0f2f5;
  margin-top: 15px;
  border-left: 2px solid #5181b8;
}



.relativ-block img {
  width: 40px;
  border-radius: 50px;
  height: 47px;
  padding-top: 10px;
}

.relativ-block {
  display: flex;
  position: absolute;
  flex-direction: column;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  background-color: #dae1e8;
  align-items: center;
  width: 3%;
}

.relativ-block p i {
  margin-left: 3px;
}
.relativ-block p {
  color: #99b1c6;
  padding: 5px;
}
