* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'NunitoLegular';
  src: url(../fonts/Nunitoregular.woff2);
}

@font-face {
  font-family: 'NunitoLight';
  src: url(../fonts/Nunitolight.woff2);
}

@font-face {
  font-family: 'NunitoBold';
  src: url(../fonts/Nunitobold.woff2);
}

body {
  font-family: NunitoLegular;
}

.radio-group,
.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-item,
.checkbox-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-item input[type='radio'],
.checkbox-item input[type='checkbox'] {
  display: none;
}

.radio-custom,
.checkbox-custom {
  width: 15px;
  height: 15px;
  border: 1px solid #bb3cde;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}

.checkbox-custom {
  border-radius: 3px;
}

.radio-item input[type='radio']:checked + .radio-custom,
.checkbox-item input[type='checkbox']:checked + .checkbox-custom {
  background-color: #f6defc;
  border-color: #be3be2;
}

.radio-item input[type='radio']:checked + .radio-custom::after {
  content: ' ';
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 22%;
  left: 23%;
}

.checkbox-item input[type='checkbox']:checked + .checkbox-custom::after {
  content: url(../img/icons8-галочка-10.png);
  position: absolute;
  top: -25%;
  left: 20%;
}

input {
  outline: none;
  border: 0;
  border-bottom: 1px solid rgb(223, 151, 204);
}

input[type='number'] {
  border: 0;
  border-bottom: 1px solid rgb(223, 151, 204);
}

select {
  border: 0;
  border-bottom: 1px solid rgb(223, 151, 204);
  outline: none;
}

option {
  color: #e68fcb8f;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

h1{
    text-align: center;
}

.form-group {
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
}

.block-title {
  font-family: NunitoBold;
  font-size: 18px;
  padding-top: 10px;
}

.buttons-container {
  text-align: center;
  margin-top: 20px;
}

.btn {
  width: 220px;
  height: 50px;
  border-radius: 20px;
  border: 0;
  background-color: #ee74c7;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.form-block {
  margin-top: 40px;
  margin-bottom: 20px;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sub-section{
    margin-top: 20px;
}