* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.header{
    background: purple;
    padding: 20px;
}

.footer{
    background: purple;
  
}

.nav{
    background: aqua ;
    width: 300px;
    margin: 20px auto;
}

.main{
    background: grey;
    width: 700px;
    border: 1px solid black;
    margin: 10px auto;
}

.img{
    width: 700px;
    padding: 50px;
    border: 1px solid black;
    display: block;
    margin: auto;
}

/* .heading{
    height: 120px;
} */

.text{
    background: darkcyan;
    margin: 10px 30px;
    overflow: auto;
    padding: 5px 10px;
}

.qw{
    margin-top: -10px;
    overflow: visible;
}

.ew{
    height: 150px;
    overflow: auto;
}


header div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #8f81f7;
}

header div a{
    text-decoration: none;
    color: #ffa6c4;
}

header div img{
    border-radius: 10px;
}


main div h1{
    display: flex;
    font-size: 30px;
    font-family: math;
    border-bottom: 1px solid pink;
    max-width: 700px;
    justify-content: center;
    margin: auto;
    color: blueviolet;
}

.section{
    margin:20px auto;
    width: 700px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.section a{
    background-color: #03A9F4;
    color: #362f7d;
    text-decoration: none;
    height: 30px;
    width: 130px;
    text-align: center;
    border-radius: 15px;
    align-content: center;
    border: 3px dashed #ffa6c4;
    box-shadow: 9px 9px 9px pink;
}


.section a:hover{
    background: #b5acff;
}

footer{
    background-color: #ffa6c4;
    color: #362f7d;
    display: flex;
    justify-content: center
}